<!-- PRELOADER -->
		<div id="st-preloader">
			<div id="pre-status">
				<div class="preload-placeholder"></div>
			</div>
		</div>
		<!-- /PRELOADER -->




		<!-- HEADER -->
		<%= render partial: "customer_navbar" %>
		<!-- /HEADER -->


		<div id="h">
		</div>

		<div class="box first">
			<div class="col-md-12">
				<div class="col-md-4">
					<center>
					<%= image_tag 'grapes-and-pear-on-a-platter.png', :class => 'img-responsive' %><!-- <img class="img-responsive" src="images/grapes-and-pear-on-a-platter.png" alt=""> -->
					</center>
				</div>
				<div class="col-md-4">
					<center>
					<%= image_tag 'lightning-electric-energy.png', :class => 'img-responsive' %><!-- <img class="img-responsive" src="images/lightning-electric-energy.png" alt=""> -->
					</center>
				</div>
				<div class="col-md-4">
					<center>
					<%= image_tag 'piggy-bank.png', :class => 'img-responsive' %><!-- <img class="img-responsive" src="images/piggy-bank.png" alt=""> -->
					</center>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<h6>Freshest in the Market</h6>
				</div>
				<div class="col-md-4">
					<h6>Fast Delivery</h6>
				</div>
				<div class="col-md-4">
					<h6>Best Price in Town</h6>
				</div>
			</div>

			<div class="col-md-12">
				<div class="col-md-4">
					<p>Imported non-tropical fruits and top-quality organic local produce</p>
				</div>
				<div class="col-md-4">
					<p>Guaranteed delivery within 48 hours</p>
				</div>
				<div class="col-md-4">
					<p>Lower prices than your regular grocery</p>
				</div>
			</div>
		</div>
	</div><!--/.box-->

	<br><br><br>

	<section id="products">
		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>Pick and Click!</h2>
				</div>

				<div class="col-md-2 col-md-offset-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-blueberry.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="images/prod-blueberry.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Blueberry</h5>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-cherries.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="images/prod-cherries.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Cherry</h5>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-grapefruit.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="images/prod-grapefruit.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Grapefruit</h5>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-kale.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="images/prod-kale.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Kale</h5>
						</div>
					</div>
				</div>

				<div class="col-md-2 col-md-offset-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-lemon.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="images/prod-lemon.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Lemon</h5>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-lychee.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="prod-lychee.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Lychee</h5>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div class="product-margin">
						<div class="product-image">
							<%= image_tag 'prod-strawberry.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="prod-strawberry.jpg" alt=""> -->
							<div class="product-add">
								<a href=""><i class="fa fa-plus-circle"></i></a>
							</div>
						</div>
						<div class="product-info">
							<h5>Strawberry</h5>
						</div>
					</div>
				</div>

			</div>
		</div>

		<br><br><br>

		<div class="container">
			<div class="row">
				<div class="section-title">
					<h2>Basket</h2>
				</div>

				<div class="col-md-12">
					<div class="col-md-4 col-md-offset-2">
						<h5>Product</h5>
					</div>
					<div class="col-md-2">
						<h5>Amount</h5>
					</div>
					<div class="col-md-2">
						<h5>Price</h5>
					</div>
				</div>

				<div class="col-md-12" id="margin">

					<div class="col-md-1 col-md-offset-1">
						<button type="button" class="btn btn-danger btn-xs btn-round"><span class="glyphicon glyphicon-remove"></span></button>
					</div>

					<div class="col-md-1">
						<%= image_tag 'prod-blueberry.jpg', :class => "img-responsive" %><!-- <img class="img-responsive" src="images/prod-blueberry.jpg" alt=""> -->
					</div>
					<div class="col-md-2">
						<b>Blueberry</b>
						<br>
						PHP 650.00/kg
					</div>
					<div class="col-md-1">
						x
					</div>
					<div class="col-md-2">
						<form class="form-inline">
							<div class="form-group">
								<label for="exampleSelect1"></label>
								<div class="col-md-5">
									<select class="form-control" id="exampleSelect1">
										<option>1/2</option>
										<option>1/3</option>
										<option>1/4</option>
									</select>
								</div>
								<label for="exampleSelect1"></label>
								<div class="col-md-5">
									<select class="form-control" id="exampleSelect1">
										<option>1/2</option>
										<option>1/3</option>
										<option>1/4</option>
									</select>
								</div>
							</div>
						</form>
					</div>

					<div class="col-md-2">
						PHP 2112.50
					</div>
				</div>

			</div>
			<span class="st-border"></span>

			<div class="col-md-2 col-md-offset-8">
				<b>PHP 2112.50</b>
			</div>

			<br><br>
			<div class="col-md-2 col-md-offset-8">
				<a href="" class="btn btn-conf">Submit</a>
			</div>
		</div>
	</section>

	<!-- FOOTER -->
	<footer id="footer">
		<div class="container">
			<div class="row">
				<!-- SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-push-6 footer-social-icons">
					<span>Get in touch with us!</span>
					<a href=""><i class="fa fa-envelope-o"></i></a>
					<a href=""><i class="fa fa-mobile"></i></a>
				</div>
				<!-- /SOCIAL ICONS -->
				<div class="col-sm-6 col-sm-pull-6 copyright">
					<p>&copy; 2016 Crate2Plate</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->


	<!-- JS -->
	<!-- jQuery -->
	<%= javascript_include_tag 'jquery.min', media: "all" %>
	<!-- Bootstrap -->
	<%= javascript_include_tag 'bootstrap.min', media: "all" %>
	<!-- Parallax -->
	<%= javascript_include_tag 'jquery.parallax', media: "all" %>
	<!-- Smooth Scroll -->
	<%= javascript_include_tag 'smoothscroll', media: "all" %>
	<!-- masonry -->
	<%= javascript_include_tag 'masonry.pkgd.min', media: "all" %>
	<!-- fitvids -->
	<%= javascript_include_tag 'jquery.fitvids', media: "all" %>
	<!-- Owl-Carousel -->
	<%= javascript_include_tag 'owl.carousel.min', media: "all" %>
	<!-- CounterUp -->
	<%= javascript_include_tag 'jquery.counterup.min', media: "all" %>
	<!-- CounterUp -->
	<%= javascript_include_tag 'waypoints.min', media: "all" %>
	<!-- isotope -->
	<%= javascript_include_tag 'jquery.isotope.min', media: "all" %>
	<!-- magnific-popup -->
	<%= javascript_include_tag 'jquery.magnific-popup.min', media: "all" %>
	<!-- Scripts -->
	<%= javascript_include_tag 'scripts', media: "all" %>