<!DOCTYPE html>
<html>
	<head>
		<title>Crate2plate</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

		
	<%= stylesheet_link_tag    'bootstrap', media: "all" %>
	<%= stylesheet_link_tag    'font-awesome', media: "all" %>
	<%= stylesheet_link_tag    'owl.carousel', media: "all" %>
	<%= stylesheet_link_tag    'magnific-popup', media: "all" %>
	<%= stylesheet_link_tag    'style', media: "all" %>
	<%= stylesheet_link_tag    'responsive', media: "all" %>
	</head>

	<body>
		<%= yield %>
	</body>
</html>
