<!DOCTYPE html>
<html>
  <head>
    <title>Crate2plate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  <%= stylesheet_link_tag    'bootstrap.min.css' %>
  <%= stylesheet_link_tag    'font-awesome.css.erb' %>
	<%= stylesheet_link_tag    'owl.carousel.css' %>
	<%= stylesheet_link_tag    'magnific-popup.css' %>
	<%= stylesheet_link_tag    'style.css' %>
	<%= stylesheet_link_tag    'responsive.css' %>
	<%= javascript_include_tag 'select.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
